<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">Marvel Application powered by Polymer</h3>
</div>

<h2>Heroes</h2>
<super-heroes-list></super-heroes-list>

<h2>Your Team</h2>

<div class="footer">
    <p>Made with love by <a href="https://twitter.com/romaintaz">Romain</a> and <a href="https://twitter.com/jak78">Julien</a>
        for <a href="http://www.devoxx.fr">Devoxx France 2014</a></p>
</div>
